@charset "utf-8";

/* common */
html{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

body{
  margin: 0;
}
h1,h2,h3,p{
  margin:0;
  padding:0;
  text-decoration: normal;
}
p{
  font-size:15px;
  padding-top:4px;
}
h2{
  font-weight: 500;
  padding-top:8px;
}

img{
  font-size: 0;
  border-radius:50%;
}

.big-flex,.flex{
  display: flex;

}
.big-flex{
  width: calc(100% - 36px);
  margin:0 auto;
  gap: 36px;
  margin-top:80px;
  justify-content: center;
} 

.box-1{
  width:3rem;
  text-align: center;
}

.bun{
  padding-top:16px;
  line-height: 24px;
  color:#4B5563;
}

.time{
  font-size: 16.875px;
}
.ue{
  border-bottom: solid #e5e7eb 2px;
  padding-bottom:4px;
  font-size: 15px;
  color:#6b7280;
  padding-bottom:8px;
}

.color{
  color:#6366f1;
}
.CATEGORY{
  font-size:11.25px;
}
.color-gray{
  color:#4b5563;
}
.box-3 {
  align-items:center;
  gap: 16px;
  padding-top:16px;
}
.box-3 p{
  padding: 0;
}


@media(min-width:768px){
  .big-box{
    max-width: 768px;
  }

  .big-box{
    display:flex;
    max-width: 768px;
    gap:150px;
  }
  .box-2 h2{
    padding-top:0px;
  }
  h2{
    margin:0;
    padding:0;
  }


}

@media(min-width:1024px){
  .main{
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    gap:32px;
    
  }
  .big-box{
    width: calc((100% - 100px)/ 3);
  }
}

@media(min-width:1280px){
  .main{
    max-width: 1280px;
  }
}
@media(min-width:1536px){
  .main{
    max-width: 1536px;
  }
}